a.dp-choose-date {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 5px 3px 0;
    display: block;
    text-indent: -2000px;
    overflow: hidden;
    background: url('sitemgr/sitemgr-site/templates/system/images/calendar.png') no-repeat; 
}
a.dp-choose-date.dp-disabled {
    background-position: 0 -20px;
    cursor: default;
}
input.dp-applied {
    width: 140px;
    float: left;
}
body {
    background-color: window;
}
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: windowtext;
}
h1 {
    font-size: 11px;
}
p, label, input, select, table, li {
    font-size: 10px;
}
body#pv {
    width: 700px;
}
input#search {
    width: 130px;
}
select#patient, table {
    width: 100%;
}
div#vc {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
table {   
    border-spacing: 0;
    background-color: white;
    text-align: center;
    empty-cells: show;
    overflow: scroll;
}
html#wh, body#whb {
    width: 700px;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

ul#al {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position:fixed; 
    height: 100%;
}
ul#al li {
    width:200px;
    float:left;
    height: 35px;
    line-height: 35px !important;
    padding: 0;
    margin: 0;
}
ul#al li a {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    height: 35px !important;
    min-height: 35px;
    line-height: 35px;
    background: url(bcalendar/WorkingHours/button1.gif);
    color: #ddd;
    text-decoration: none;
    width: 190px !important;
}
ul#al li a strong {
    color: #ddd;
    font-weight: bold;
}
ul#al li a#current {
    background: url(bcalendar/WorkingHours/button3.gif);
    color: #fff;
    cursor: default;
    width: 183px !important;
}
ul#al li a#current strong {
    display: inline-block;
    position: relative;
    background: url(bcalendar/WorkingHours/button3.gif) right top;
    cursor: default;
    line-height: 35px;
    height: 35px;
    color: #fff;
    width: 180px;
    left: 2px;
    float: right;
}
ul#al li a#current:hover strong {
    left: -3px;
}
ul#al li a:hover, .ul#al li:hover a {
    background: url(bcalendar/WorkingHours/button4.gif);
    cursor: pointer;
    color: #fff;
    width: 180px !important;
    padding-left: 5px;
    position:relative;
    top:-1px !important;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
}
ul#al li a:hover strong, ul#al li:hover a strong {
    display: block;
    background: url(bcalendar/WorkingHours/button4.gif) right top;
    cursor: pointer;
    font-weight: bold;
    width: 180px !important;
    color: #fff;
}
div#wts {
    margin-left: 205px;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}
legend {
    font-size: 10px;
}
div#wts a img {
    top: 1px;
    position: relative;
}
div#wts label.ad {
    top: -3px; 
    margin-left: -6px;
    position: relative;
}
div#wts input[type=submit] {
    margin-bottom: 70px;
}
p#sd {
    margin-top: 17px;
}
p#nbm {
    margin-bottom: 0;
}
form#ef label.ll {
    width: 216px;
    display: inline-block;
    text-align: right;
}
form#ef fieldset label.ll {
    width: 210px;
}
form#ef input#title {
    width: 400px;
}
div.combobox	{
    position: relative;
    zoom: 1;
}
div.combobox	div.dropdownlist	{
    display: none;
    width: 200px;
    border: solid 1px #000;
    background-color: #fff;
    height: 200px;
    overflow: auto;
    position: absolute;
    top: 22px;
    left: 223px;
    font-size: 10px !important;
}
div.combobox	.dropdownlist	a	{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1px;
    height: 1.4em;
}
div.combobox	.dropdownlist	a.light	{
    color: #fff;
    background-color: #007
}
div.combobox	input {
    /*float: left;*/
    width: 182px;
    border: solid 1px #ccc;
    height: 15px
}
div.combobox	span	{
    border: solid 1px #ccc;
    background: #eee;
    width: 16px;
    height: 17px;
    /*float: left;*/
    text-align: center;
    border-left: none;
    margin-left: -6px;
    font-size: 10px !important;
}
#multi-level {
    height:18px; 
    position:absolute;
    top: 10px;
    z-index:100; 
    background:#fff url(bcalendar/templates/default/images/image_drop_back.gif) repeat-x; 
    padding-left:1px;
    border:1px solid #000; 
    border-width:0 1px;
    display: table-cell;
}
.menu, .menu ul {
    list-style-type:none; 
    padding:0; 
    margin:0; 
    font-family:arial, sans-serif; 
    font-size:11px;
}
.menu li.top {
    display:block; 
    float:left; 
    position:relative;
}
.menu li.top a.top_link {
    display:block; 
    float:left; 
    height:18px; 
    line-height:18px; 
    text-decoration:none; 
    margin-left: -3px;
    color:#fff; 
    background: url(bcalendar/templates/default/images/image_drop_1a.gif); 
    padding:0;
    border-left:1px solid #000; 
    border-width:0 1px;
}
.menu li.top a.top_link span.span_top {
    display:block; 
    float:left; 
    height:18px; 
    background: url(bcalendar/templates/default/images/image_drop_1a.gif) right top; 
    padding:0 27px 0 0;margin-left: 3px;
}
.menu li.top a.top_link span.drop {
    background: url(bcalendar/templates/default/images/image_drop_0a.gif) right top; 
    padding: 0 25px 0 0;
    cursor: default;
    color: #fff;
}
.menu a:hover {
    visibility: visible; 
    position:relative;
}
.menu li:hover {
    position:relative; 
    z-index:200;
}
.menu li.top a.top_link:hover, .menu li.top:hover a.top_link {
    background: url(bcalendar/templates/default/images/image_drop_1b.gif);
}
.menu li.top a.top_link:hover span.span_top,
.menu li.top:hover a.top_link span.span_top {background: url(bcalendar/templates/default/images/image_drop_1b.gif) right top;}
.menu li.top a.top_link:hover span.drop,
.menu li.top:hover a.top_link span.drop {background: url(bcalendar/templates/default/images/image_drop_0b.gif) right top;}
.menu ul, 
.menu ul ul, 
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0;}
.menu :hover ul.sub {left:0; top:18px; background: transparent; padding:3px 0 0 0; white-space:nowrap; width:135px; height:auto;}
.menu :hover ul.sub li {display:block; float:left;}
.menu :hover ul.sub li a {display:block; float:left; height:17px; width:235px; line-height:17px; color:#000; text-decoration:none; padding:0; background: url(bcalendar/templates/default/images/dropa_0.gif) no-repeat;
    cursor: default;
}
.menu :hover ul.sub li a span
{display:block; float:left; background: url(bcalendar/templates/default/images/drop_0.gif) right top; height:17px; width:392px; padding:0 10px 0 5px; font-weight:normal; color:#000;}
.menu :hover ul.sub li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover ul li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover ul li a:hover ul li a:hover,
.menu :hover ul.sub li a:hover ul li a:hover ul li a:hover ul li a:hover ul li a:hover
{background: url(bcalendar/templates/default/images/dropba_1.gif) no-repeat; height:17px; line-height:17px; color:#fff;}
.menu :hover ul.sub li a:hover span
{background: url(bcalendar/templates/default/images/drop_1.gif) right top; color:#fff;}
.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:107px; top:0; background:transparent; padding:5px 5px 5px 0; white-space:nowrap; width:220px; z-index:200; height:auto;}
select#ep {
    width: 170px !important;
}
form#ef p#nup {
    display: none;
}
form#ef input#npn {
    width: 100px;
}
form#ef input#nps {
    width: 150px;
}
input#phone {
    width: 90px;
}
input#pesel {
    width: 80px;
}
form#ef input#date {
    margin-left: 219px;
}
form#ef p#dpp {
    margin-top: -25px;
}
select#dentist, select#assistant {
    width: 90px !important;
}
textarea {
    font-size: 10px;
}
p#dp * {
    vertical-align: middle;
}
label.cc {
    margin-right: 10px;
    display: inline-block;
}
form#ef textarea#description {
    width: 450px;
    height: 50px;
}
a#erl {
    position: fixed;
    right: 10px;
    text-decoration: none;
    color: red;
    font-size: 10px;
    border-radius: 4px;
    border: solid 1px windowframe;
    padding: 2px 6px 0 6px;
    cursor: default;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 buttonshadow, 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: buttonface;
}
a#erl:hover {
    border: solid 1px windowframe;
    text-decoration: none;
    background-color: buttonhighlight;
}
a#erl:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid 1px windowframe;
}
p#vl, a.ael {
    color: blue;
}
p#vl a:hover, a.ael:hover {
    color: darkgoldenrod;
}
